

#sollogo {
    float:left;
    margin-left: 42%;
      }

.navigation {
    clear:both;
    display:inline-block;
    border-bottom:2px solid #52CEB7;
    list-style-type: none;
    padding-left: 25%; 
    padding-right: 25%;
    left: 10%; right:10%; 
    margin-left: 8%;
    line-height: 24px;
    
}

.tabs {
    left: 0; right:0;
    margin: 0 10px; 
    border: 1px solid #52CEB7;
    background: #52CEB7;
    display: inline-block;
    border-top-style:groove;
}

  .tabs a:link{
    display: block;
    width: 125px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.tabs a:visited {
  display: block;
    width: 125px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
 } 

#footerLink{
  background-color: white;
   margin-left: 90%; 
   }
 

  #footerdivindex{
  position:absolute;
  width: 90%;
  bottom:0;
  text-align:center;
  font-style:italic;
   }

   #footerdivabout{
   position:relative;
   width: 90%;
  bottom:0;
    text-align:center;
  font-style:italic;
    }
   
.tabs a:hover {
    background-color: #30AB94; 
}

.tabs a:active {
    color: #FFFFFF; 
}


p.solstory {
  clear: right; 
  line-height: 1.5em;
  padding: 1em;
  margin-left: 20em;
  margin-right: 20em;
  border:thin solid #52CEB7;   
  font-size: 20px;
 }
 
 .solstory img{
  float: right;
  border: thin dotted white; 
  padding: 15px;
 }
 
 br.clearme { 
  clear: both; 
  padding: 0; 
  margin: 0; 
  visibility: hidden; 
  display: block;
}

.productcontact {
  text-align:center; }

  
@media print {
    p.solstory {
        float:none;
       margin-left: -0.1%;
        font-family: georgia, serif;
        width:80%;
        font-size: 15px;
        color: blue;
     }
   .navigation {
       width:100%}      
    }
    
 fieldset {
     border:1px solid #52CEB7;
           }   
  input {border:1px solid #52CEB7;}
    
#indexPage #indexLink {font-weight:bold; color:#ffe4b5; background-color: #30AB94;}
#productsPage #productsLink {font-weight:bold; color:#ffe4b5; background-color: #30AB94;}
#aboutPage #aboutLink {font-weight:bold; color:#ffe4b5; background-color: #30AB94;}


