/* Bootstrap menu css */
#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
  font-size: 15px;
  background-color: rgba(248, 248, 248, 1);
  border-width: 0px;
  border-radius: 1px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
  color: rgba(119, 119, 119, 1);
  background-color: rgba(248, 248, 248, 0);
  background: -webkit-linear-gradient(top, rgba(227, 223, 223, 1) 0%, rgba(248, 248, 248, 0) 100%);
  background: linear-gradient(to bottom, rgba(227, 223, 223, 1) 0%, rgba(248, 248, 248, 0) 100%);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
  color: rgba(51, 51, 51, 1);
  background-color: rgba(167, 200, 219, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
  color: rgba(85, 85, 85, 1);
  background-color: rgba(167, 200, 219, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #a7c8db;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #a7c8db;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #a7c8db;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #f8f8f8;
}

/* standard header logo  and paragraph
(contact page) css formatting*/
.solheaderlogo, .productcontact{
  text-align: center;
}
/* Standard footer css formatting*/
div > footer{
  font-style: italic;
  clear: both;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

/* css formatting for automatic slides
on the home page */
.w3-content.w3-section{
  max-width: 500px;
  clear: both;
}

.mySlides.w3-animate-right{
  width: 100%;
}

/* css formatting for about.php page */
.solstory1{
  clear: left;
}

.solstory2 {
  clear: right;
}

.solstory1, .solstory2{
  line-height: 1.5em;
  padding: 1em;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.solstory1 > img{
  float: left;
  max-width: 200px;
  padding-right: 15px;
}

.solstory2 > img{
  float: right;
  max-width: 250px;
  padding: 0px;
}


br.clearme {
  clear: both;
  padding: 0;
  margin: 0;
  visibility: hidden;
  display: block;
}

/* css formatting for the contact.php page */
.contactform {
  margin-left: 10%;
}

/* css formatting to highlight an active navigation tab */
#indexPage #indexLink, #productsPage #productsLink, #aboutPage #aboutLink, #contactPage #contactLink{
  font-weight:bold; color:#2F4F4F; background-color: #a7c8db;
}
